/*index css*/ 
#nav_bar{    
    padding-top: 8px;
    display: inline-block; 
    float: right;
}
.icon img{   
        max-width: 30px;
        max-height: 30px;
}
.nav_e{
    float: left;
    color: rgb(217, 231, 184);
    margin-left: 25px;
   
    
}
.heading{
    background-color:  rgb(19, 11, 11);
    width:100%; 
    height:98px;
}
#nav_bar ul{
    list-style-type: none;
    
}
#nav_bar a{
    color: beige;
    font-size: larger;
    
    
}
#nav_bar li{
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}
.banner header{
    color:rgb(31, 54, 129);
    font-weight: 300;

}
.banner{
    font-size: 50px;
    margin-left: 20px;
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat, repeat;
    background-color: #fff7f7;
    background-size:100%;
    background-position: center;
    background-blend-mode: normal;
    height:100%;
    width:100%;
    color:rgb(0, 0, 0)
    
}
    



.banner1{
font-size:medium;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 50px;
margin-bottom : 50px;
font-weight: 600;
background-color:rgba(102, 107, 105, 0.5);
border-radius: 10px / 30px;
border-radius: 5px 20px 5px;
}

.banner2{
    font-size:medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    margin-top: 50px;
    margin-bottom : 50px;
    margin-right: 10px;
    font-weight: 600;
    background-blend-mode: multiply;
    }

.banner3{
    font-size:medium;
    margin-top: 50px;
    margin-bottom : 50px;

}
.banner3 a{
    color: #fff7f7;
    text-decoration: none;
}

.banner4{
    font-size:medium;
    margin-top: 50px;
    margin-bottom : 50px;
    font-weight: 600;

}
.banner5{
    float: left;
    
}
.copyright{
    text-align: center;
    color: antiquewhite;
    background-color: rgb(157, 172, 102);
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 300px;
    font-size: 0.3em;
}
/*contact  css*/ 
.contacts{
    color:aqua;
    text-align: center;
}

/*Login form
.container_login{
    text-align:center;
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: pink;    
    padding: 25px;   
    background-color: lightblue; 
} */     

/*Products*/
.products{
text-align: center;
}
/*login*/
.container_login{
    text-align: center;
    font-weight: 500;
}
.container_login button{
    background-color: rgb(11, 50, 223);
    color: #fff7f7;
}
.container_login input[type=text] {
    border: 2px solid rgb(19, 18, 18);
    border-radius: 4px;
  }
  .container_login input[type=password] {
    border: 2px solid rgb(19, 18, 18);
    border-radius: 4px;
  }
  .container_login .uname{
        margin-top: 40px;
  }
  .container_login .pwd{
    margin-top: 10px;
    margin-bottom: 15px;
  }
/*Services*/
/*Sales*/
/*message*/
/*body css*/ 
body{
    width:99%;
    background-color: #fff7f7;
}
