/*index css*/ 
#nav_bar{    
    padding-top: 8px;
    display: inline-block; 
    float: right;
}
.icon img{   
        max-width: 30px;
        max-height: 30px;
}
.nav_e{
    float: left;
    color: rgb(217, 231, 184);
    margin-left: 25px;
   
    
}
.heading{
    background-color:  rgb(19, 11, 11);
    width:100%; 
    height:98px;
}
#nav_bar ul{
    list-style-type: none;
    
}
#nav_bar a{
    color: beige;
    font-size: larger;
    
    
}
#nav_bar li{
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}
/*home page*/
.banner header{
    color:rgb(31, 54, 129);
    font-weight: 300;

}
.banner{
    font-size: 50px;
    margin-left: 20px;
    /*background-image: url(./images/banner.jpg);*/
    background-color: #fff7f7;
    background-size:100%;
    background-position: center;
    background-blend-mode: normal;
    height:100%;
    min-height: 50px; 
    width:100%;
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.banner .banner1{
    display : flex;
    flex-direction : row;
}
.banner .banner2{
    display : flex;
    flex-direction : row;
}
/*video*/
.video-container {
    height: 500px;
    width: 800px;
    position: relative;
    border-radius:25px ;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  border-radius:25px ;
  box-shadow: 10px 10px 5px lightblue;
}
.banner2 .about-us{
    margin: 20px;
    margin-right: 300px;
    width: 1000px;
    height:220px;
    background-color:rgba(11, 53, 78, 0.5);
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightblue;
}
.banner2 .div-button1{
    margin: 20px;
    margin-left: 20px;
    width: 220px;
    height:220px;
    background-color:rgba(17, 235, 17, 0.5);
    font-size:large;
    text-align: center;
    padding: 80px;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 20px; 
}
.banner2 .div-button2{
    margin: 20px;
    margin-left: 20px;
    width: 220px;
    height:220px;
    background-color:rgba(231, 132, 3, 0.973);
    font-size:large;
    text-align: center;
    padding: 80px;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 20px;
    
}
.banner2 a{
    color: rgb(4, 1, 17);
    text-decoration: none;
}
.banner2 a:hover {
    background-color: #AD310B;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    border-radius: 20px;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
} 
/*video*/
.copyright{
    text-align: center;
    color: antiquewhite;
    background-color: rgb(157, 172, 102);
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 0.3em;
}
/*contact  css*/
.container_contacts{
    text-align: right;
    background-color: rgba(17, 24, 133,0.5);
    border-radius:25px;
    margin-left: 20px;
    height: 500px;
    box-shadow: 10px 10px 5px lightblue;
}
.container_contacts .contact_heading{
    text-align: center;
    font-size: 1rem;
    text-align: center;
}
.container_contacts .column{
    font-size:small;
    color:aquamarine;
    text-align: center;
}
.contacts{
    color:aqua;
}
.container_contacts .column input[type="submit"]{
    color:rgb(12, 11, 10);
}

.row{
    float: right;
    text-align: center;
}

/*Login form
.container_login{
    text-align:center;
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: pink;    
    padding: 25px;   
    background-color: lightblue; 
} */     

/*Products*/
.products{
text-align: center;
}
/*login*/
.container_login{
    text-align: center;
    font-weight: 500;
}
.container_login button{
    background-color: rgb(11, 50, 223);
    color: #fff7f7;
}
.container_login input[type=text] {
    border: 2px solid rgb(19, 18, 18);
    border-radius: 4px;
  }
  .container_login input[type=password] {
    border: 2px solid rgb(19, 18, 18);
    border-radius: 4px;
  }
  .container_login .uname{
        margin-top: 40px;
  }
  .container_login .pwd{
    margin-top: 10px;
    margin-bottom: 15px;
  }
/*Services*/
/*products_update*/
.products_update{
    float: left;
}
.products_update_content{
    margin-left: 100px;
}
/*message*/
.message{
    float: left;

}
.message_content{
    margin-left: 100px;
}
/*body css*/ 
body{
    width:99%;
    background-color: #fff7f7;
}
